body {
  font-family: sans-serif;
  color: #1f293a;
}

#main {
  margin: 0 auto;
  max-width: 550px;
  min-width: 350px;
  border: 1px solid lightgray;
  box-shadow: 0px 0px 4px grey;
  padding: 0.5rem;
  border-radius: 5px;
}

#title {
  margin: 0.5rem;
  font-size: 2.5rem;
  color: magenta;
  text-align: center;
  background: linear-gradient(
    to right,
    #ef5350,
    #f48fb1,
    #7e57c2,
    #2196f3,
    #26c6da,
    #43a047,
    #eeff41,
    #f9a825,
    #ff5722
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#intro {
  width: fit-content;
  max-width: 550px;
  margin: 0 auto;
  font-size: 1rem;
  padding: 0.2rem 0.8rem;
  border-radius: 5px;
  box-shadow: 1px 1px 10px lightgray;
}

form {
  padding: 1rem 0.8rem;
  display: grid;
  grid-template-columns: 51px minmax(150px, auto) 135px;
  gap: 0.5rem;
}

#seed-color,
#scheme-mode,
#color-button {
  height: 2.5rem;
  border-radius: 5px;
  border: 1px solid #d1d5db;
  background: #fff;
  cursor: pointer;
}

#color-button:active {
  transform: scale(0.98);
}

#scheme-mode {
  width: 100%;
}

#color-scheme,
#color-names {
  display: flex;
  flex-direction: row;
  text-align: center;
}

#color-scheme {
  height: 415px;
}

#color-names {
  height: 45px;
  align-items: center;
}

#color1 {
  background: #808080;
}
#color2 {
  background: #9a9898;
}
#color3 {
  background: #b4b1b1;
}
#color4 {
  background: #cecaca;
}
#color5 {
  background: #e7e4e4;
}

.color,
.color-name {
  width: 415px;
}

.color {
  display: flex;
  justify-content: center;
  align-items: end;
  padding: 0.2rem 0.1rem;
  color: black;
}

.color-name {
  cursor: copy;
}

#clip-popup {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translateX(-50%);
  border: 2px solid gray;
  border-radius: 5px;
  box-shadow: 1px 1px 4px gray;
  text-align: center;
  padding: 1rem 2.5rem;
  z-index: 10;
  background: white;
  display: none;
  transition: all 1s;
}

.color-name > span {
  position: relative;
  display: none;
}
.color-name:hover > span {
  position: absolute;
  top: 0;
  left: 100px;
  display: block;
  background: red;
  color: white;
  padding: 6px;
}
